@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-content: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5em;
  background-color: #2c2c2c;
}

.App {
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  padding: 2em;
  gap: 0.5em;
  border-radius: 5px;
}

.form {
  display: grid;
  grid-template-columns: 2fr 40px;
}

.form input {
  border: none;
  padding: 1em;
  font-family: 'Ubuntu', sans-serif;
}

.form input:active {
  border: none;
}

.btn {
  border: none;
  background-color: none;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: yellow;
}

.copy-btn {
  background-color: yellow;
  padding: 1em;
}
